@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

body {
	background-color: #909090;
   font-family: 'Droid Serif', serif;
	font-size: 11pt;
   line-height: 140%;
}

h1 {
   font-size: 16pt;
   font-weight: bold;
	background-color: #FFFFFF;
	margin-bottom: 2em;
}

div {
	background-color: #FFFFFF;
}

#canvas {
	width: 36em;
	max-width: 80%;
	margin-top: 3em;
	margin-bottom: 6em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6em;
	padding-left: 7em;
	padding-right: 7em;
	padding-bottom: 9em;
}

#gametext {
	margin-bottom: 4em;
	text-align: justify;
}

button {
	width: 100%;
	padding: 0.5em;
	margin-bottom: 0.2em;
	border: 1px solid black;
}
